html {
    font-size: calc(1em + 1vw);
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: white
    
}


img {
    width: 175px; /* Angi ønsket bredde (endre verdien etter behov) */
    height: 200px; /* Beholder bildets opprinnelige sideforhold */
    margin-top: 20px;

}

#SKOFOTBALL{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: block;
    background-color: black;
    color: white;
}


header h1{
    margin: 0rem 0 0 0;
    padding: 0;
    display:inline-block;
    font-size: 14px;
}

main h1,h2 {
font-size: 12px; /* Endre skriftstørrelsen */
 color: black; 
 /margin-top: 10px; 
}

    
    
    
    
